@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Calistoga&family=Satisfy&family=Tiny5&display=swap");
h1 {
  font-family: "Anton", sans-serif;
}
body {
  background-color: rgb(17 24 39);
}

h2 {
  font-family: "Anton", sans-serif;
}
